﻿@{
    ViewBag.Title = "Example";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <b>Example number 1</b>

</p>
<script src="/Scripts/JS.js"></script>
<input type="button" onclick="callScript()" value="Execute" />
<input type="button" onclick="addNewItems()" value="Add new items" />
<input type="button" onclick="removeThird()" value="Remove 3 element" />
<input type="button" onclick="removeValues()" value="Remove value 1" />
<input type="button" onclick="addWithoutDuplications()" value="Add without duplication, value 1" />
<input type="button" onclick="reverseArrays()" value="Reverse array" />
<input type="button" onclick="sortArrays()" value="Sort array" />


<script>
        function callScript() {
            alert("Funcion executed!");
        }
        function addNewItems() {
            for (var i = 0; i < 5; i++) {
                addNewItem(Math.floor((Math.random() * 10) + 1));
            }
            addNewItem("garbage");
            addNewItem("trash");
            addNewItem(false);
            addNewItem(Math.floor((Math.random() * 10) + 1));
            addNewItem("pickle");
            addNewItem(true);
            addNewItem(false);
            addNewItem(Math.floor((Math.random() * 10) + 1));
            addNewItem(Math.floor((Math.random() * 10) + 1));
            addNewItem("GREATNESS!!1111!");
            addNewItem(Math.floor((Math.random() * 10) + 1));
            showArray();
        }
        function removeThird() {
            removeByIndex(3);
            showArray();
        }
        function removeValues() {
            removeByValue(1);
            showArray();
        }
        function addWithoutDuplications() {
            addWithoutDuplication(1);
            showArray();
        }
        function reverseArrays() {
            reverseArray();
            showArray();
        }
        function sortArrays() {
            sortArray();
            showArray();
        }
        function showArray() {
            alert(arrayTest);
        }
</script>

