﻿@{
    ViewBag.Title = "Lab number 1";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script type="text/javascript" src="/Scripts/jquery-1.7.2.min.js"></script>

<script src="/Scripts/Lab1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<input id="buttonReadFile" type="button" onclick="createTable()" value="Read file"/>

<div></div>


