﻿@*@{
    ViewBag.Title = "Tasks";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<p>
    <br/>
    <br/>
    <b>Task number 1</b><br/>
    Task 'Parameter control'<br/>

    Implement web control called 'Parameter' that will display<br/>
    <ul>
        <li>parameter name</li>
        <li>parameter description</li>
        <li>parameter edit field</li>
        <li>parameter value in this edit field</li>
    </ul>

    Requirements:<br/>

    Control should get parameter type and display different edit fields for different types<br/>
    <ul>
        <li>For Boolean type display checkbox</li>
        <li>For String type display textbox</li>
        <li>For Integer type display textbox that allows only integers to be entered</li>
    </ul>

    There should be ability to add control to the page DYNAMICALLY.<br/>

    Create some 'Settings page' which will display settings for some site (using this 'Parameter' control).<br/>
    Read information from input.xml file. It contains parameter fields (name, description, parameter value and type - Int32, String, Boolean). You must display parameters with editable value on the setting page with appropriate Parameter controls count and save changed data to Output.xml.<br/>
</p>

